body {
  background-color: grey;
}
.contacts {
  float: right;
}

.h2 {
  float: center;
}

.intro {
  text-align: center;
  color: red;
}

img {
  margin: 50;
  border: 10px solid blue;
  padding: 100;
}
.point {
  color: red;
}
.name {
  text-align: center;
  color: red;
}
.project {
  text-align: center;
  color: red;
}
